{% load i18n static %}
    <section class="bg-white py-8">
        <div class="container py-8 px-6 mx-auto">
            <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8"
               href="#">
                About
            </a>
            <p class="mb-8">
                {% blocktranslate %}Luxury Car is a Rental With Driver company active on the market since 2000. It offers individuals and companies a complete and efficient service for transfers to and from Milan, Malpensa and Varese but also to any location in Italy, France and Switzerland. We have been ensuring you a punctual and excellent service for over twenty years, thanks to the professionalism of our drivers. Our fleet is made up of prestigious vehicles, recently registered cars and minivans, equipped with every comfort and the highest insurance limits for the transport of people. Book taxi Malpensa. Booking a taxi to and from Malpensa through our Malpensa taxi booking service of Ncccarservice is very simple. We will guarantee you an exclusive taxi service with comfortable and prestigious cars.
{% endblocktranslate %}</p>
        </div>
    </section>
