{% load static i18n %}

<input class="carousel-open hidden" type="radio" id="carousel-{{ counter }}" name="carousel" aria-hidden="true" hidden=""
       checked="checked">
<div class="carousel-item absolute opacity-0" style="height:50vh;">
    <div class="h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right carousel-image"
         style="background-image: url('{% static model.image %}')">

        <div class="container mx-auto">
            <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                <p class="text-2xl my-4 text-white">{{ model.model }}</p>
                <a class="text-xl text-white inline-block no-underline border-b border-gray-600 leading-relaxed cursor-pointer"
                   href="{% url "booking-add" model.pk %}">{% trans "rent this car" %}</a>
            </div>
        </div>

    </div>
</div>
<label for="carousel-{% if counter == 1 %}{{ max }}{% else %}{{ counter|add:-1 }}{% endif %}"
       class="prev control-{{ counter }} w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
<label for="carousel-{% if counter == max %}1{% else %}{{ counter|add:1 }}{% endif %}"
       class="next control-{{ counter }} w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
