{% extends "layout.html" %}{% load static i18n %}
{% block content %}
    <div class="mb-8 overflow-hidden rounded-lg shadow-xs p-10 m-10">
        {% for e in object_list.all %}

            <div class="bg-white shadow-lg rounded-lg p-4 mb-4 flex">
                <img src="{% static e.image %}"
                     alt="Map 1" class="w-32 h-32 object-cover rounded-t-lg mr-4">
                <div class="flex-grow">
                    <div class="flex items-center mb-2">
                        {#                        <div class="bg-green-500 w-8 h-8 flex items-center justify-center rounded-full mr-2">#}
                        {#                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"#}
                        {#                                 stroke="currentColor" class="w-6 h-6 text-white">#}
                        {#                                <path stroke-linecap="round" stroke-linejoin="round"#}
                        {#                                      d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z"/>#}
                        {#                            </svg>#}
                        {#                        </div>#}
                        <h2 class="text-xl font-semibold">{{ e.model }}</h2>
                    </div>
                    <p>Max Passengers: {{ e.max_passenger }}</p>
                    <p>Daily Price: {{ e.price }}</p>
                </div>
                <div class="flex-shrink"><a href="{% url "booking-add"  e.pk %}">{% translate 'Rent this car' %}</a></div>
            </div>

        {% endfor %}
    </div>
    {#    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs p-10 m-10">#}
    {#        <div class="w-full overflow-x-auto">#}
    {#            <table class="w-full whitespace-no-wrap">#}
    {#                <tbody>#}
    {#                {% for e in object_list.all %}#}
    {#                    <tr class="text-gray-700 dark:text-gray-400 border-b {% if not is_available %}not_available{% endif %}">#}
    {#                        <td class="px-4 py-3">#}
    {#                            {{ e }}#}
    {#                        </td>#}
    {#                        <td class="px-4 py-3">#}
    {#                            {{ e.address }}#}
    {#                        </td>#}
    {#                        <td class="px-4 py-3">#}
    {#                            {{ e.price_per_night }}#}
    {#                        </td>#}
    {#                        <td class="px-4 py-3">#}
    {#                            {{ e.price_per_night }}#}
    {#                        </td>#}
    {#                        <td class="px-4 py-3">#}
    {#                            {{ e.max_guests }}#}
    {#                        </td>#}
    {#                        <td class="px-4 py-3">#}
    {#                            {{ e.is_available }}#}
    {#                        </td>#}
    {#                        <td class="px-4 py-3">#}
    {#                            <a href="{% url "booking-add" e.pk %}">book</a>#}
    {#                        </td>#}
    {#                    </tr>#}
    {#                {% endfor %}#}
    {#                </tbody>#}
    {#            </table>#}
    {#        </div>#}

    </div>
{% endblock %}
