{% extends "layout.html" %}{% load static i18n %}
{% block content %}
    <div class="mb-8 overflow-hidden rounded-lg shadow-xs p-2 md:p-5 xl:p-10 xl:mx-20">
        {% for e in object_list %}

            <div class="bg-white shadow-lg rounded-lg p-4 mb-4 flex">
                <img src="{% static e.image %}"
                     alt="Map 1" class="w-32 h-32 object-cover rounded-t-lg mr-4">
                <div class="flex-grow">
                    <div class="flex items-center mb-2">
                        <h2 class="text-xl font-semibold">{{ e.model }}</h2>
                    </div>
                    <p>{% trans "Passengers" %}: {{ e.max_passenger }}</p>
                    <p>{% trans "Daily Rate" %}: {{ e.price }}</p>
                    <div class="md:hidden mt-5 float-right block"><a
                            href="{% url "booking-add"  e.id %}">{% translate 'Rent this car' %}</a></div>
                </div>
                <div class="md:flex hidden"><a href="{% url "booking-add"  e.id %}">{% translate 'Rent this car' %}</a>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
