{% extends "layout.html" %}
{% block headeer %}
{% endblock headeer %}
{% block container %}
    <div class="container mx-auto">
        <section class=" flex items-center justify-center h-screen m-auto">
            <div class="text-center">
                <h1 class="text-5xl">Booking</h1>
                {% if user.is_authenticated %}
                    Welcome, {{ user }}
                {% else %}
                    <div class="text-center">
                        <a href="{% url "social:begin" "google-oauth2" %}">Login with Google+</a>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
