{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booking</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
{% block headeer %}
    <header class="">
        <div class="text-2xl flex-grow">Booking</div>
        <div class="text-xl">{{ user }}</div>
    </header>
{% endblock headeer %}

{% block container %}
    <div class="h-screen mx-auto">
        <div class="flex">
            <aside class="h-4/5 w-36">
                <a href="{% url "property-list" %}">
                    <div class="PropertyView{{ active_view }}">
                        Properties
                    </div>
                </a>
                <a href="{% url "booking-list" %}">
                    <div class="BookingView{{ active_view }} CreateBookView{{ active_view }}">
                        Booking
                    </div>
                </a>
                <span class="mt-72 p-0 block">
                <a href="{% url "logout" %}">
                    <div class="menu-item">
                        Logout
                    </div>
                </a>
                <a target="_admin" href="{% url "admin:index" %}">
                    <div class="menu-item">
                        Admin
                    </div>
                </a>
                    </span>
            </aside>
            <div class="p-5">
                {% block content %}
                {% endblock %}
            </div>

        </div>

    </div>

{% endblock %}
</body>
</html>
