{% extends "layout.html" %}{% load i18n static %}
{% block content %}
    <div class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
        <div class="max-w-screen-xl m-0 sm:m-10 bg-white shadow sm:rounded-lg flex justify-center flex-1">
            <div class="lg:w-3/5 xl:w-9/12 p-6 sm:p-12">
                <div class="mt-12 flex flex-col items-center">
                    <h1 class="text-2xl xl:text-3xl font-extrabold">
                        {% translate 'Registered' %}
                    </h1>
                    <div class="w-full flex-1 mt-8 text-2xl ">
                        {% blocktranslate %}
An email has been sent to your email address.<br/>
Please check your inbox and follow the instructions to complete the process.
                        {% endblocktranslate %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
